*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(rgb(64, 64, 74), rgb(0, 0, 0));
    width: 100%;
    height: 100vh;
}



.h1{
    text-align: center  ;
    color: aliceblue;
    font-family:"Dancing Script", cursive;
    font-size: 30px;
}

.Samsung{
    color: rgb(235, 235, 235);
    font-size: 70px;
    text-align: center;
    font-family:"Dancing Script", cursive;
}

.group{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-family:"Dancing Script", cursive;

}

.logo{
    text-align: center;
    color: aliceblue;
    margin-top: 40px;
    font-family:"Dancing Script", cursive;

}

.img{
    width: 100px;
    text-align: center;
}

.img-container{
    text-align: center;
}




