*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    align-items: center;
    
}

.div1{
    background-color: red;
    height: 200px;
    width: 200px;
    font-size: 40px;
    border-radius: 500px;

}

.div2{
    background-color: rgb(30, 0, 255);
    height: 200px;
    width: 200px;
    font-size: 40px;
    border-radius: 500px;
    margin-top: auto;
} 

/* .div3{
    background-color: rgb(0, 240, 44);
    height: 200px;
    width: 200px;
    font-size: 40px;
    border-radius: 500px;
}

.div4{
    background-color: rgb(255, 0, 217);
    height: 200px;
    width: 200px;
    font-size: 40px;
    border-radius: 500px; 
}*/