*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.parent{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.div{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 20px;

}