*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pr{
    display: flex;
    width: 515px;
    height: 400px;
    /* background-color: rgb(161, 135, 101); */
    

    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.pr2{
    width: 520px;
    height: 100px;
    display: flex;
    gap:50px;
}

.pr3{
    width: 520px;
    height: 100px;
    display: flex;
    gap:25px;
}

.pr4{
    width: 520px;
    height: 100px;
    display: flex;
    gap:25px;
}

.pr5{
    width: 520px;
    height: 100px;
    display: flex;
    gap:25px;
}

.div1{
    width: 50px;
    height: 70px;
    background-color:rgb(153, 207, 28);
    border: 3px solid rgb(0, 0, 0);

}

.div2{
    width: 300px;
    height: 70px;
    background-color: rgb(153, 207, 28);
    border: 3px solid rgb(0, 0, 0);
    text-align: center;

}

.div3{
    width: 100px;
    height: 70px;
    background-color: rgb(153, 207, 28);
    border: 3px solid rgb(0, 0, 0);

}

