*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pr{
    display: flex;
    width: 520px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    gap: 50px;
    padding: 10px;
}

.div1{
    width: 150px;
    height: 100px;
    background-color: rgb(235, 153, 153);
    border: 4px solid rgb(0, 0, 0);

}

.div2{
    width: 300px;
    height: 100px;
    background-color: rgb(159, 197, 249);
    border: 4px solid rgb(0, 0, 0);
}

.div3{
    width: 500px;
    height: 100px;
    background-color: rgb(255, 229, 153);
    border: 4px solid rgb(0, 0, 0);
}