*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-style: normal;
}

.roboto-font{
    font-family: "Roboto", "sens-serif";
}

.p{
     width: 530px;
    margin-left: 700px;
    margin-top: 30px;
    margin: 20px auto;
    font-size: 25px;
    font-family: "Roboto", "sens-serif";
}

.hr1{
     width: 30%;
    margin: 20px auto;
}

.h1{
    text-align: center;
    font-family: "Roboto", "sens-serif";
}

.img{
    width: 500px;
    margin-left: 700px;

}
