*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.div{
    display: flex;
    gap: 50px;
    height: 200px;
    width: 100%;
    justify-content: center;
    margin-top: 65px;
}

.div1{
    background-color: red;
    height: 200px;
    width: 300px;
    font-size: 40px;
    border-radius: 30px;
}

.div2{
    background-color: red;
    height: 200px;
    width: 600px;
    font-size: 40px;
    border-radius: 30px;
}

.div3{
    background-color: red;
    height: 200px;
    width: 600px;
    font-size: 40px;
    border-radius: 30px;
}
