*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
}

input,button{
    cursor: pointer;
}
.pr{
    background-color:   rgb(19, 25, 33);
    /* height: 40px; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1px;
}

.img{
    width: 100px;
}

.img:hover{
    border: 1px solid white;
    border-radius: 5px;
}

.input{
    width: 100%;
    height: 25px;
}

.pr2{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    color: aliceblue;

}
.pr2:hover{
    border: 1px solid white;
    border-radius: 5px;
}

.pr3{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    color: aliceblue;

}

.pr3:hover{
    border: 1px solid white;
    border-radius: 5px;
}
/* ქვედა header */
ul, ol{
    list-style-type: none;
    
}

.lists{
    display: flex;
    gap: 10px;
    background-color: rgb(35, 47, 62);
    text-align: center;
    padding-bottom: 4px;
    height: 35px;
    
}

a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: aliceblue;
    text-decoration: none;    
    /* cursor:  not-allowed;     */
}

.lists li{
    padding: 5px;
}

.lists li:hover{
    /* outline: 1px solid aliceblue ; */
    /* outline იც border ის მსგავსია, მაგრამ კონტენტს არ ცვლის */
    border: 1px solid aliceblue ;
    border-radius: 30px;
    font-size: 17px;
    /* padding: 9px */
}

.fa-map-marker{
    color: aliceblue;
    font-size: 20px;
    align-items: center;
}

/* .fa:hover{
    border: 1px solid rgb(255, 255, 255);
    cursor: no-drop;
    font-size:20px;
} */

.p {
    color: white;
    width: 80px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.p:hover{
    border: 1px solid white;
    border-radius: 5px;
}

.p2{
    color: white;
    display: flex;
    align-items: end;

}

.fa-cart-arrow-down{
    font-size: 30px;

}

.p2 :hover{
    border: 1px solid white;
    border-radius: 5px;
}


.main{
    max-width: 1600px;
    background-image: linear-gradient(rgb(228, 153, 254),white);
    /* height: 900px; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
}

.pr1{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
}


.div1{
    background-color: aliceblue;
    width: 350px;
    height: 400px;
}

.p1{
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    text-shadow: 5px 2px  rgb(0, 13, 255);
    color: aliceblue;
}

.img-container{
    max-width: 1650px;
    margin: auto;
}


.img-container img{
    width: 100%;
}

