*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent2{
    background-color: rgb(153, 93, 181);
    width: 100%;
    height: 100vh;
    
}

.parent{
    display: flex;
    gap: 50px;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;

}

.div{
    background-color: rgb(247, 148, 31);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid rgb(63, 38, 68);

}


