*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pr{
    display: flex;
    background-color: antiquewhite;
    width: 1000px;
    height: 400px;
    gap: 10px;

}

.div1{
    background-color: red;
    width: 400px;
    height: 395px;
}

.pr2{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    gap: 10px;
}

.div2{
    background-color: green;
    width: 580px;
    height: 190px;

}

.div3{
    background-color: rgb(255, 155, 247);
    width: 285px;
    height: 190px;

}

.pr3{
    display: flex;
    flex-wrap: wrap;
    width: 285px;
    height: 190px;
    gap: 10px;
}

.div4{
    background-color: rgb(155, 164, 255);
    width: 400px;
    height: 90px;
}
.div5{
    background-color: rgb(155, 164, 255);
    width: 400px;
    height: 90px;
}