/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}


.h1 {
    text-align: center;
    color: aliceblue;
    font-size: 60px;

}
body{
    background-color: aqua;
    font-family: "Dancing Script", cursive;
}
p {
    font-size: 50px;
}
.ul{
    font-size: 30px;
}
title{
    font-size: larger;
}