body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #222;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    background: lime;
    color: black;
    text-decoration: none;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

button {
    background: lime;
    border: none;
    padding: 8px;
    cursor: pointer;
}