body{
  font-family:"Dancing Script", cursive;

}
.text-center {
  text-align: center;
  text-shadow: 0px 5px 5px rgb(255, 0, 0);;
  /* color: aliceblue; */
}

.BMW{
  text-align: center;
  /* text-shadow: 0px 5px 5px rgb(255, 0, 0);; */
  /* color: rgb(5, 55, 255); */
  font-size: 30px;
  margin-top: 50px;
}