* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* rest css end */
/* text align start */
.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}
/* text align end  */
.login-box{
    text-align: center;
}

.h1{
    color:rgb(29, 1, 242)
}
.h1{
    text-align: center;
    padding-top: 30px;
}


body {
    display: flex;
    background: linear-gradient(120deg, rgb(104, 99, 99), rgb(221, 221, 221));
    padding-top: 300px;
}
