.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 200px;
  gap: 10px;
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
}

.box {
  background-image: rgb(96, 90, 81);
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
